<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}">
    <link rel="icon" href="../static/logo.png">
    <title>Ultimate Language Learner</title>
</head>
<body>
    <form method="post" action="{{ url_for('learn_video') }}">
        <div class="Wrapper">
            <div class="Input">
                <input type="text" id="inputText" name="inputText" class="Input-text">
                <label for="inputText" class="Input-label">Youtube link please 📹</label>
            </div>
{#            <div class="item">#}
{#              <div class="toggle-pill-color">#}
{#                <input type="checkbox" id="pill3" name="check">#}
{#                <label for="pill3">Track progress</label>#}
{##}
{#              </div>#}
{#            </div>#}
            <div class="checkbox">
                <input type="checkbox" id="track-progress" name="track-progress" checked>
                <label for="track-progress">Track progress</label>
            </div>

            <div class="container">
                <input type="submit" value="Let's get it 😏" id="continue" class="button-sumbit">
            </div>
        </div>
    </form>
</body>
</html>