<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Language Learner</title>
</head>
<body>
    <iframe width="420" height="315" id="youtubeVideo" type="text/html">
    </iframe>
    <button id="btnplay" onclick="playVideo()">PLAY</button>

    <p>{{ learning_language_array[part]["text"] }}</p>
    <form method="get">
        <input  id="part" name="part" hidden>
        <input type="text" id="inputText" name="inputText">
        <p hidden id="checkText">{{ learning_language_array[part]["text"] }}</p>
        <p hidden id="startVideo">{{ learning_language_array[part]["start"] }}</p>
        <p hidden id="durationVideo">{{ learning_language_array[part]["duration"] }}</p>
        <p hidden id="urlForVideo">{{ url }}</p>
        <input type="submit" value="submit" id="continue" onclick="changePart()">
    </form>
</body>
</html> 

<script type="text/javascript">
    document.getElementById('youtubeVideo').src = "https://www.youtube.com/embed/" + document.getElementById('urlForVideo').innerHTML + "?key=AIzaSyDrjDPmxDxWjc7Qv817XP0f4CCXJqg_-mQ&controls=0" +
                                                "&start=" + parseInt(document.getElementById('startVideo').innerHTML) +
                                                "&end=" + (parseInt(document.getElementById('startVideo').innerHTML) + parseInt(document.getElementById('durationVideo').innerHTML)+1)

    if (window.location.search.substr(1) == "") 
    { 
        window.location.href = window.location.href + '?part=0'; 
    }   
    function changePart()
    {
        alert(document.getElementById('checkText').innerHTML)
        alert(document.getElementById('inputText').value)
        console.lo
        if(document.getElementById('checkText').innerHTML == document.getElementById('inputText').value)
        {
            alert(true)
            document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
        }
        else
        {
            alert(false)
            document.getElementById('part').value = parseInt(window.location.search.substr(6))
        }
        
    }
    function playVideo(){
        alert(document.getElementById('youtubeVideo').src )
        document.getElementById('youtubeVideo').playVideo();
    }
</script>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Language Learner</title>
</head>
<body>
    <p>{{ learning_language_array[part] }}</p>
    <form method="get">
        <input  id="part" name="part" hidden>
        <input type="text" id="inputText">
        <input type="submit" value="submit" id="continue" onclick="changePart()">
    </form>
</body>
</html>

<script type="text/javascript">
    if (window.location.search.substr(1) == "") 
    { 
        window.location.href = window.location.href + '?part=0'; 
    }   
    function changePart()
    {
        // if(document.getElementById('inputText').value == '{{ learning_language_array[part] }}' )
        // {
        //     alert(true)
        //     document.getElementById('part').value = parseInt(window.location.search.substr(6))
        // }
        // else
        // {
        //     alert(false)
        //     document.getElementById('part').value = parseInt(window.location.search.substr(6))
        // }
        document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 2
        // document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
    }
</script> -->