<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Language Learner</title>
</head>
<body>
    <p>{{ learning_language_array[part] }}</p>
    <form method="get">
        <input  id="part" name="part" hidden>
        <input type="submit" value="submit" id="continue" onclick="changePart()">
    </form>
</body>
</html>

<script type="text/javascript">
    if (window.location.search.substr(1) == "") 
    { 
        window.location.href = window.location.href + '?part=0'; 
    }   
    function changePart()
    {
        document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
    }
</script>