<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/learn_video.css') }}">
    <link rel="icon" href="../static/logo.png">
    <title>Learn from Video</title>
</head>
<body style="background-image: url('../static/{{ (part + 1) }}-part.png')">
    <div class="container">
        <iframe width="650" height="350" id="youtubeVideo" type="text/html">
        </iframe>
        <div>
            <button id="btnplay" onclick="playVideo()" class="button-play">PLAY🛴</button>
            <button class="button-play"><a href="https://pixe.la/v1/users/ishkining/graphs/trackprogress.html"
                                           style="text-decoration: none" target="_blank">Check Progress🚩</a></button>
        </div>


        <p>{{ my_language_array[part]["text"] }}</p>
        <details>
          <summary>Korean subtitles</summary>
          <p>{{ learning_language_array[part]["text"] }}</p>
        </details>
        <div class="container-ordered-buttons" id="ordered-word-div"></div>
        <div class="container-buttons">


            {% set words_array = learning_language_array[part]["text"].split(' ') %}
            {%for word in shuffled_words_array%}
                <button class="button-words" id="word{{ words_array.index(word) }}" onclick="checkOrder({{ words_array.index(word) }})">{{word}}</button>
            {%endfor%}
        </div>
        <form method="get">
            <input  id="part" name="part" hidden>
            <input type="text" id="inputText1" name="inputText1" class="input-sentence">
            <p hidden id="checkText">{{ learning_language_array[part]["text"] }}</p>
            <p hidden id="startVideo">{{ learning_language_array[part]["start"] }}</p>
            <p hidden id="durationVideo">{{ learning_language_array[part]["duration"] }}</p>
            <p hidden id="urlForVideo">{{ url }}</p>
            <input type="submit" value="NEXT" id="continue" class="button-sumbit" onclick="changePart()">
        </form>
    </div>
</body>
</html> 

<script type="text/javascript">
    document.getElementById('youtubeVideo').src = "https://www.youtube.com/embed/" + document.getElementById('urlForVideo').innerHTML + "?key=AIzaSyDrjDPmxDxWjc7Qv817XP0f4CCXJqg_-mQ&controls=0" +
                                                "&start=" + parseInt(document.getElementById('startVideo').innerHTML) +
                                                "&end=" + (parseInt(document.getElementById('startVideo').innerHTML) + parseInt(document.getElementById('durationVideo').innerHTML)+1)

    if (window.location.search.substr(1) == "") 
    {
        window.location.href = window.location.href + '?part=0'; 
    }   
    function changePart()
    {
        console.log(document.getElementById('checkText').innerHTML.replace('\n', ' ').replace('  ', ' '))
        {#alert(document.getElementById('inputText1').value)#}

        if(document.getElementsByClassName('button-words').length
            == document.getElementById('ordered-word-div').children.length)
        {
            document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
        }
        else if(document.getElementById('checkText').innerHTML.replace('\n', ' ').replace('  ', ' ') == document.getElementById('inputText1').value)
        {
            alert(true)
            document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
        }
        else
        {
            alert(false)
            document.getElementById('part').value = parseInt(window.location.search.substr(6))
        }
        
    }

    function playVideo(){
        alert(document.getElementById('youtubeVideo').src )
        document.getElementById('youtubeVideo').playVideo();
    }

    let counter_of_order = 0
    let error_counter = 0
    function checkOrder(order)
    {
        if(counter_of_order == order)
        {
            error_counter = 0
            change_color_state_button(order, "green")
            document.getElementById('ordered-word-div').append(document.getElementById('word'+order))
            counter_of_order += 1
            if(document.getElementsByClassName('button-words').length
                == document.getElementById('ordered-word-div').children.length)
            {
                document.getElementById('ordered-word-div').style.backgroundColor = "#B5FE83";
            }
        }
        else
        {
            error_counter += 1
            change_color_state_button(order, "red")
            if(error_counter > 3)
            {
                change_color_state_button(counter_of_order, "green")
            }
        }
    }

    function sleep(ms) {
        return new Promise(resolve => setTimeout(resolve, ms));
    }

    async function change_color_state_button(order, color) {
        document.getElementById('word'+order).style.backgroundColor = color;
        await sleep(1000);
        document.getElementById('word'+order).style.backgroundColor = "#ffffff";
    }
</script>
<!-- <html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ultimate Language Learner</title>
</head>
<body>
    <p>{{ learning_language_array[part] }}</p>
    <form method="get">
        <input  id="part" name="part" hidden>
        <input type="text" id="inputText">
        <input type="submit" value="submit" id="continue" onclick="changePart()">
    </form>
</body>
</html>

<script type="text/javascript">
    if (window.location.search.substr(1) == "") 
    { 
        window.location.href = window.location.href + '?part=0'; 
    }   
    function changePart()
    {
        // if(document.getElementById('inputText').value == '{{ learning_language_array[part] }}' )
        // {
        //     alert(true)
        //     document.getElementById('part').value = parseInt(window.location.search.substr(6))
        // }
        // else
        // {
        //     alert(false)
        //     document.getElementById('part').value = parseInt(window.location.search.substr(6))
        // }
        document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 2
        // document.getElementById('part').value = parseInt(window.location.search.substr(6)) + 1
    }
</script> -->